<div class="col-4">
  <div class="card" style="width: 18rem;">

  <%= cl_image_tag list.photo.key, height: 300, width: 200, crop: :fill  %>
    <div class="card-body">
      <h5 class="card-title"><%= list.name %></h5>
      <a href=<%=list_path(list)%> class="btn btn-primary">View the list</a>
    </div>
  </div>
</div>
